.container {
  min-height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 680px;
  height: 800px;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  background: #ffffff;
  margin-top: -10px;

}

.nameGroup {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 12px;
  font-weight: 600;
  color: #222222;
}

.frameImage {
  margin-bottom: 1rem;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0.3rem;
  color: #000000;
}

.subtitle {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 1.5rem;
  color: #8E988E;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.input {
  width: 100%;
  padding: 0.75rem;
  border: 0.5px solid #DEDEDE;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  color: #8E98A8;
}

.header {
  color: #222222;
  font-size: 12px;
  font-weight: 600;
}

.input:focus {
  border-color: #0070f3;
}

.btn {
  background-color: #0033C7;
  color: #FFFFFF;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1rem;
  font-size: 14px;
  font-family: 600;
  margin-top: 100px;
  margin-bottom: 20px;
  width: 100%;
}

.passwordContainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}


.passwordInput {
  width: 100%;
  padding: 0.75rem 2.8rem 0.75rem 0.75rem;
  border: 0.5px solid #DEDEDE;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  color: #8E98A8;
  position: relative;
  z-index: 1;
  box-sizing:border-box;
}

.showPasswordToggle {
  position: absolute;
  right: 15px;
  top: 52%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: #8E98A8;
  font-size: 14px;
  cursor: pointer;
  padding: 0;
}

.showPasswordToggle:hover {
  color: #0070f3;
}
.eyeBtn {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8E988E;
  z-index: 2;
}
.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 15px;
  font-size: 14px;
  color: #333;
}

.checkboxContainer input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
  accent-color: #0033C7
}

.checkboxContainer label {
  cursor: pointer;
}

.checkboxContainer a {
  color:#0033C7;
  text-decoration: none;
}

.checkboxContainer a:hover {
  text-decoration: underline;
}
.terms{
    color:#574F4F;
    font-weight: 400;
    font-size: 12px;
}
.loginText{
    font-size: 14px;
    font-weight: 600;
    color: #574F4F;
}
.loginLink{
    color: #0033C7;
}
.nameGroup {
  display: flex;
  gap: 1rem;
  width: 100%;
}

@media (max-width: 600px) {
  .nameGroup {
    flex-direction: column; /* stack first & last name vertically */
  }
}
