.dropdown {
  position: relative;
  display: inline-block;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #0033c7;
  border-radius: 6px;
  padding: 6px 10px;
  cursor: pointer;
  min-width: 90px;
  color: #ffffff
}

.flagContainer {
  display: flex;
  align-items: center;
  gap: 6px;
}

.code {
  font-size: 14px;
  font-weight: 500;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  gap: 1px;
  
}

.icon {
  color: #ffffff;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 110%;
  left: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 6px 0;
  width: 100%;
  z-index: 10;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.menuItem:hover {
  background: #f4f4f4;
}
