@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  
  font-family: var(--font-bricolage), sans-serif;
}

body {
  background-color: #f5f6fa;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 100vh;
  width: 100%;
  padding: 20px;
}

.left-panel {
  width: 624px; /* increase this to adjust width */
min-height: 90vh;
  background-color: #1e293b; /* left panel color */
  border-radius: 10px;
}

.right-panel {
  width: 534px; /* increase/decrease this as needed */
  height: 813px;
  background-color: #334155; /* right panel color */
  border-radius: 10px;
  margin-left: 728px; /* This gives the 728px space between them */
}
html,
body {
  background-color: #ffffff;
  min-height: 100%;
}

